body {
    font-family: "Raleway", sans-serif;
  }
  
  .navbar {
    background-color: #c1b398;
  }
  
  .navbar-brand img {
    width: 10rem;
  }
  
  header {
    background-image: url(../img/img-bg.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  p a {
    color: white;
    text-decoration: none;
  }
  
  .boton-1 {
    border-color: #0E2F7C;
  }
  
  .boton-2 {
    background-color: #0E2F7C;
  }
  
  .experiencia{
    background-color: #c1b398;
    box-shadow: 0px 1px 10px;
    transition: all 800ms ease;
  }

  .experiencia:hover {
    transform: translateY(-5%);
  }

  .empleo-2 {
    top: 2rem;
    position: relative;
  }
  
  .empleo-3 {
    top: 6rem;
    position: relative;
  }
  
  .portafolio {
    background-color: #c1b398;
  }
  
  .card {
    height: 30rem;
  }
  
  .card img {
    height: 18rem;
  }
  
  .card a {
    border-color: #0E2F7C;
  }
  
  .card {
    box-shadow: 0px 1px 10px;
    transition: all 800ms ease;
  }
  
  .card:hover {
    transform: translateY(-5%);
  }
  
  .formulario {
    background-color: #0E2F7C;
  }

  footer i {
    color: #0E2F7C;
  }
  
  footer {
    background-color: #c1b398;
  }
  
  footer img {
    width: 8rem
  }